html {overflow-y: scroll;}
body { position:relative; background-color:#EEEEEE; }
h1, h2 { clear:both; }
h2 { margin-bottom:0px; }
#legend p { display:inline-block; margin-left:5px; margin-right:5px;}
.block { display:inline-block; width:15px; height:15px; margin-left:5px; margin-right:5px;}

thead { cursor:pointer; }

.breakdown { margin-bottom: 15px; }

.container { display:inline-block; border-bottom:1px SOLID #000000; }

.hover { position:absolute; padding:15px; background-color:white; border: 1px solid black; line-height:1em;}

table {
    background-color: #F7F7F7;
    border-bottom: 1px solid #AAAAAA;
    border-collapse: collapse;
    border-top: 1px solid #AAAAAA;
    min-width: 100%;
    margin-bottom: 15px;
}
tr:not(:last-child) td, .vertical tr:not(:last-child) th, tbody:not(:last-child) tr td {
    border-bottom: 1px solid #DDDDDD;
}
tr:nth-child(2n) td, tbody:nth-child(2n) td {
    background-color: #F0F0F0;
}
th {
    background-color: #E5E5E5;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    padding: 5px 15px;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}
td {
    padding: 5px 15px;
}
table.vertical th {
    padding: 5px 15px;
    width: 150px;
}

tr.inactive td {
  color: #AAAAAA;
}
#backtrace { float:right; background-color:white; padding:5px; border:1px SOLID #000000; overflow:auto; width:300px; height:390px; white-space:nowrap; text-overflow: ellipsis; }

#threadpopup {
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -400px;
    background-color: white;
    width: 800px;
    text-align: center;
    box-shadow: 5px 5px 30px #888888;
    max-height: 95%;
    overflow-y: auto;
}

#threadpopup canvas {
    border: 1px solid #000000;
    margin: 15px;
}

