[submodule "src/avm2/compiler/lljs"]
	path = src/avm2/compiler/lljs
	url = https://github.com/mbebenita/LLJS.git
[submodule "lib/jpgjs"]
	path = lib/jpgjs
	url = https://github.com/notmasteryet/jpgjs.git
