*~
.DS_Store
.idea/*

src/avm2/generated/

src/avm2/bin/node_modules

src/avm2/tests/**/*.abc

src/avm2/utils/asc.jar
src/avm2/utils/avmshell
src/avm2/utils/js

src/avm1/tests/

src/flash/playerglobal*
src/flash/classes/

node_modules/

build/
*.tmp
*.run
test_swf_avm2.baseline
test/arch/swfs
baseline.json
