[submodule "utils/mocha"]
	path = utils/mocha
	url = https://github.com/visionmedia/mocha.git
[submodule "utils/expect"]
	path = utils/expect
	url = https://github.com/LearnBoost/expect.js.git
[submodule "src/avm2/compiler/lljs"]
	path = src/avm2/compiler/lljs
	url = https://github.com/mbebenita/LLJS.git
[submodule "lib/DataView.js"]
	path = lib/DataView.js
	url = https://github.com/davidflanagan/DataView.js.git

