html, body {
    overflow: hidden;
    margin: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    color: white;
    background-color: #444444;
    font: 12px Consolas, "Liberation Mono", Courier, monospace;
    height: 100%;
    width: 100%;
}
#container {
    margin: 20px;
}
canvas {
    display: block;
}
