var playerGlobalNames = {};
var playerGlobalScripts = {};
(function () {
  var index = [/*index*/];
  for (var i = 0; i < index.length; i++) {
    var abc = index[i];
    playerGlobalScripts[abc.name] = abc;
    if (typeof abc.defs === 'string') {
      playerGlobalNames[abc.defs] = abc.name;
    } else {
      for (var j = 0; j < abc.defs.length; j++) {
        var def = abc.defs[j];
        playerGlobalNames[def] = abc.name;
      }
    }
  }
})();
